@font-face {
    font-family: 'Abril Fatface', cursive;
    src: url('/font/AbrilFatface-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 10px;
    background: rgb(149, 194, 215);
}

a {
    text-decoration: none;
}

.logo-text {
    background: white;

    text-align: center;
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    font-size: 37px;
}

.thumbnail-list {
    list-style: none;
    padding: 0;
}

.thumbnail-item {
    display: block;
    border: solid 1px rgb(100%, 100%, 100%);
    border: solid 1px rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;

    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);

    font-size: 18px;
}